  h1 {
    color: #78363F;
    text-align: center;
  }
  
  h4 {
    color: #78363F;
    margin-left: 25%;
    
  }
  
  form{
    margin-left: 25%;
    margin-right: 25%;
    background-color: lightgrey;
  }
  table{
    margin-left: 25%;
    margin-top: -20px;
    
  }
  [type=radio]{
    color: #78363F;
    
  }
  th{
    margin-left: 0px;
  }
  [type=date]{
    color: black;
    
  }
  [type=text]{
    color: black;
    
  }

  input{
    color: #78363F;
  }
  body{
    color: #78363F;

  }
  textarea {
    color: black;
    margin-left: 25%;
    
  }
  button {
    background-color: grey;
    color: white;
    border: none;
    padding: 15px 42px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 45%;
    
  }
