  h1 {
    color: #78363F;
    margin-left: 50%;
  }
  h2 {
    color: #78363F;
  }
  h3 {
    color: #78363F;
  }
  h4 {
    color: #78363F;
  }
  h5 {
    color: #78363F;
  }
  h6 {
    color: #78363F;
  }
  form{
    margin-left:50%;
    background-color: lightgrey;
  }
  
